pom.xml
pom.xml.asc
/lib/
/classes/
/target/
/checkouts/
/results/
.nrepl-port
.ipynb_checkpoints
.idea
TAGS
parsings
*.tmp
*-tmp.png
*~
.#*
*#

# Clojure
*.jar
*.class
.cpcache/

# ClojureScript
/out/
/nashorn_code_cache/

# Leiningen
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.lein_classpath
bin/lein
/src/metaprob/tutorial/.ipynb_checkpoints/

# Ignore vim swap files
*.swp
