pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/tutorial/resources/.ipynb_checkpoints
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.lein_classpath
.nrepl-port
.idea
TAGS
parsings
*.tmp
*-tmp.png
*~
.#*
*#
bin/lein
/results/
/tutorial/resources/.ipynb_checkpoints/Tutorial-checkpoint.ipynb
