{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/tools.cli {:mvn/version "0.4.1"}
        kixi/stats {:mvn/version "0.4.0"}}

 ;; Default stack size is 1MB or less, increase to 50. For more
 ;; information on `java` options:
 ;; https://docs.oracle.com/javase/8/docs/technotes/tools/unix/java.html
 :jvm-opts ["-Xss50M"]

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :aliases {:examples {:main-opts ["-m" "metaprob.examples.main"]}}}}
